html{
  background-color: aquamarine;
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

input{
  background-color: cadetblue;
  font-weight: bold;
}

.hidden {
  display: none;
}

.btn {
  size: large;
  background-color:#0a0a23;
  color: aquamarine;
}